<h1>Enter Details</h1>

<div class="col-sm-2">
    <label>Name:&nbsp;</label>
</div>
<div class="col-sm-10">
    <input [(ngModel)]="name" id="name"  placeholder="enter Name" /><br />
</div>
<div class="col-sm-2">
    <label>Date of Birth:&nbsp;</label>
</div>
<div class="col-sm-10">
    <input [(ngModel)]="dob" placeholder="dd-mm-yyyy" ngModel pattern="[a-zA-Z ]*" /><br />
</div>
<div class="col-sm-2">
    <label>Gender:&nbsp;</label>
</div>
<div class="col-sm-10">
    <input type="radio" name="options" [(ngModel)]="gender" value="M">
    Male
    <input type="radio" name="options" [(ngModel)]="gender" value="F">
    Female
    <br />
</div>
<div class="col-sm-2">    
</div>
<div class="col-sm-10">
    <button (click)="getData()">Submit</button>
</div>
<br />
    <fetchdata valueToPass={{premium}}></fetchdata>
